<!DOCTYPE html>
<html lang="en-ca">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<title>Contact Form</title>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body class="font-sans antialiased h-screen">
		<main class="w-full h-full pt-6">
			{{ content | safe }}
		</main>
		<script src="javascript/main.js" charset="utf-8"></script>
	</body>
</html>